<section class="education-section section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="heading">
          <p class="h3"><b>Education</b></p>
          <p class="h6 font-lite-black">ACADEMIC CAREER</p>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="education-wrapper">
          <div class="education margin-b-50">
            <p class="h4"><b>BACHELOR OF SCIENCE (BSc)</b></p>
            <p class="h5 font-yellow"><b>SUBJECT -  COMPUTER SCIENCE AND ENGINEERING</b></p>
            <p class="h6 font-lite-black margin-t-10">GRADUATED IN MAY 2017(4 YEARS)</p>
            <p class="margin-tb-30">IUBAT- International University of Business Agriculture & Technology</p>
          </div>
          <div class="education margin-b-50">
            <p class="h4 text-uppercase"><b> Higher Secondary Certificate (hsc) </b></p>
            <p class="h5 font-yellow text-uppercase"><b>subject- science</b></p>
            <p class="h6 font-lite-black margin-t-10 text-uppercase">passed in 2011</p>
            <p class="margin-tb-30">Dhaka Cantt. Girls' Public School & College</p>
          </div>
          <div class="education margin-b-50">
            <p class="h4 text-uppercase"><b>Secondary School Certificate (ssc) </b></p>
            <p class="h5 font-yellow text-uppercase"><b>subject- science</b></p>
            <p class="h6 font-lite-black margin-t-10 text-uppercase">passed in 2009</p>
            <p class="margin-tb-30">Dhaka Cantt. Girls' Public School & College</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
