<header class="personal-details">
  <div class="container">
    <div class="contact-info">
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon">
              <i class="fa fa-map-marker fa-2x"></i>
            </div>
            <div class="right-area">
              <p>Dhaka Cantonment</p>
              <p>Dhaka, Bangladesh 1206</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon">
              <i class="fa fa-phone fa-2x"></i>
            </div>
            <div class="right-area">
              <p>+880 1753-212480</p>
              <p>Sun - Thurs, 8AM - 7PM</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon">
              <i class="fa fa-comments fa-2x"></i>
            </div>
            <div class="right-area">
              <p>farzanakabirrinky05@gmail.com</p>
              <p>Reply in 24 hours</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <div class="profile-pic">
            <img src="../../../../assets/img/pro.jpg" alt="profile pic">
          </div>
          <p class="h2"><b>Farzana Kabir</b></p>
          <p class="font-yellow h4">Front End Developer</p>
          <ul class="information margin-tb-30">
            <li><b>BORN :</b> 19 March, 1994</li>
            <li><b>EMAIL :</b> farzanakabirrinky@yahoo.com</li>
          </ul>
          <div class="download-btn">
            <a target="_blank" href="https://drive.google.com/file/d/1xXKkpG5pjwQ1yD4P6D84146Kf3L16y_E/view?usp=sharing" class="dwnload-btn">Download CV</a>
          </div>
          <ul class="social-icon">
            <li><a target="_blank" href="https://www.facebook.com/tiptip.rinky"><i class="fa fa-facebook-f"></i></a></li>
            <li><a target="_blank" href="https://github.com/FarzanaKabir"><i class="fa fa-github"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/farzana-kabir-45921010b/"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" href="live:.cid.8ff07d803f5a8a1b"><i class="fa fa-skype"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
