<section class="portfolio-section section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="heading">
          <p class="h3"><b>Portfolio</b></p>
          <p class="h6 font-lite-black">MY WORK</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="portfolio-box">
              <div class="repo-name">
                <a target="_blank" href="https://github.com/FarzanaKabir/onekkom.git">Onek Kom</a>
              </div>
              <div class="repo-description margin-t-10">
                <p>A platform Where Smart Buyers and Sellers Can Meet and Find Best Free, Offers, Discounts, Deals in the Town.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-box">
              <div class="repo-name">
                <a target="_blank" href="https://farzanakabir@bitbucket.org/funush-dev/my-careerki-pwa.git">Career Ki</a>
              </div>
              <div class="repo-description margin-t-10">
                <p>CareerKi is an information hub for those who want to make better career decisions. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-box">
              <div class="repo-name">
                <a target="_blank" href=" https://farzanakabir@bitbucket.org/farzanakabir/careerki-business-dashboard.git">CareerKi Dashboard</a>
              </div>
              <div class="repo-description margin-t-10">
                <p>A dashboard for careerki platform to create skill test mcq question</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-t-40 margin-b-50">
          <div class="col-md-4">
            <div class="portfolio-box">
              <div class="repo-name">
                <a target="_blank" href="https://github.com/FarzanaKabir/tastro.git">tastro</a>
              </div>
              <div class="repo-description margin-t-10">
                <p>An e-commerce platform where people can order their food from various restaurants</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-box">
              <div class="repo-name">
                <a target="_blank" href="https://farzanakabir@bitbucket.org/exitolabs/lancer-web.git">Lancer</a>
              </div>
              <div class="repo-description margin-t-10">
                <p>A Front end development for the freelancer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-box">
              <div class="repo-name">
                <a target="_blank" href="https://farzanakabir@bitbucket.org/riadul32/careerki-dashboard-vue.git">CareerKi Business</a>
              </div>
              <div class="repo-description margin-t-10">
                <p>A dashboard for mentor's to create skill test mcq question in careerki platform</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
