<section class="work-exp-section section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="heading">
          <p class="h3"><b>Work Experience</b></p>
          <p class="h6 font-lite-black">PREVIOUS JOBS</p>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="experience margin-b-50">
          <p class="h4"><b>Front End Developer</b></p>
          <p class="h5 font-yellow"><b>Funush Private Limited</b></p>
          <p class="h6 margin-t-10">November 2019 – Present</p>
          <ul class="list margin-tb-30">
            <li class="exp-list">Worked as a Front End Developer to develop an information hub for those who want to
              make better career decisions.
            </li>
            <li class="exp-list">Resolved design issues through root cause analysis and performed data cleanups.</li>
            <li class="exp-list">Utilized HTML, CSS, Javascript, SASS, Post-CSS, NPM, Node.js, Vue Js, Vuetify and
              Bitbucket for the platform of Career Advice, Job Search Strategy, Skill Development, and Mentoring
              development.
            </li>
          </ul>
        </div>
        <div class="experience margin-b-50">
          <p class="h4"><b>Front End Developer</b></p>
          <p class="h5 font-yellow"><b>Onek Kom</b></p>
          <p class="h6 margin-t-10">February 2019 – June 2019</p>
          <ul class="list margin-tb-30">
            <li class="exp-list">Designed and developed the application using Angular 7 framework along with HTML5,
              CSS3, TypeScript, JavaScript, Bootstrap 4, Angular-Material.
            </li>
            <li class="exp-list">Worked Extensively with Angular CLI for creating components, services, pipes, directives.</li>
            <li class="exp-list">Worked on some of the new features of Angular 7 like new if-else syntax, ng-templates, form validators.</li>
            <li class="exp-list">Used Yarn for installing required node modules and other published various libraries.</li>
          </ul>
        </div>
        <div class="experience margin-b-50">
          <p class="h4"><b>Front End Developer</b></p>
          <p class="h5 font-yellow"><b>AS IT World BD</b></p>
          <p class="h6 margin-t-10">February 2018 – June 2018</p>
          <ul class="list margin-tb-30">
            <li class="exp-list">Converts PSDs into hand-coded HTML/CSS.</li>
            <li class="exp-list">Responsible for front-end UI design using HTML5, CSS3, JavaScript, jQuery, jQuery plugins.</li>
            <li class="exp-list">Worked on Cross-browser Compatibility and tested each & Every web application on popular web browsers such as Internet Explorer, Firefox, Safari, Opera, and Chrome.</li>
            <li class="exp-list">Used Media Queries to deal with different CSS related issues on different devices.</li>
          </ul>
        </div>
        <div class="experience margin-b-50">
          <p class="h4"><b>Jr. Software Engineer (Internship)</b></p>
          <p class="h5 font-yellow"><b>Cloudly InfoTech Ltd.</b></p>
          <p class="h6 margin-t-10">January 2017 – May 2017</p>
          <p class=" font-semi-white margin-tb-30">I was with a team where my responsibility was to develop the backend to upload files with necessary validation.  The team was responsible for developing the front-end based on my backend. Overall the project was developed using Laravel framework.</p>
        </div>
      </div>
    </div>
  </div>
</section>
