<section class="about-section section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="heading">
          <p class="h3"><b>About me</b></p>
          <p class="h6 font-lite-black">PROFESSIONAL PATH</p>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <p><b>Hello!</b></p>
        <p class="mb-3 mt-4">
          My name is <b>Farzana Kabir</b> I'm a <b>Front End Developer</b> based in Bangladesh. I describe myself as a developer who loves coding, open source, and the web platform. Currently I'm working at a company called <a
          target="_blank" href="https://app.careerki.com/"> <b>Career Ki</b></a>, as a Front End Engineer.</p>
        <p class="margin-b-50"> In my spare time I like to <b>create</b> and <b>contribute</b> to <b>open source</b> projects. That helps me to learn a lots of new stuff, grow as a developer and support other open source projects. I love travelling and discovering new places.</p>
      </div>
    </div>
  </div>
</section>
